<div>
    <p *ngIf="!isGamepadSupported">Gamepad API is not supported in this browser.</p>
    
    <div *ngIf="isGamepadSupported">
        <p *ngIf="!hasConnectedGamepads">No gamepads connected. Please connect a gamepad.</p>
        
        <div *ngIf="hasConnectedGamepads">
            <h3>Connected Gamepads:</h3>
            <div *ngFor="let gamepad of connectedGamepads">
                <p>Gamepad {{gamepad.index}} is active and sending data via WebSocket</p>
            </div>
        </div>
    </div>
</div>